@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  /* Grayscale */
  
  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--light-gray-3);

}


button{
  width: 220px;
  height: 40px;
  border: 0px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--light-gray-3);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  cursor: pointer;
}

button:hover{
  background-color: #c92072ee;
  text-decoration: underline;
  text-underline-position: from-font;
}

.title{
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

